* {
    margin: 0;

    -webkit-font-smoothing: antialiased;
    font-smoothing: antialiased;
}

a {
    text-decoration: none;
}

body {
    margin: 0 auto;
    padding: 0 auto;
}

div {
    width: 100%;  /*this will make the div take 100% of the full content*/
}

/*.header-button-android {*/
    /*margin-top: -500px*/
/*}*/

/*.header-button-apple {*/
    /*margin-top: -500px*/
    /*margin-left: 18px*/
/*}*/

.container {
    /*height: 800px;*/
    /*height: 100vh;*/
    overflow-x: hidden;
    overflow-y: auto;

    -webkit-overflow-scrolling: touch;

    -webkit-perspective: 100px;
    perspective: 100px;
}

.component {
    position: relative;
    height: 600px;

    -webkit-transform-style: preserve-3d;
    transform-style: preserve-3d;
}

.parallaxable {
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
}

.foreground-layer {
    -webkit-transform: translateZ(0);
    transform: translateZ(0);
    z-index: 3;
}

.background-layer {
    -webkit-transform: translateZ(-100px) scale(2);
    transform: translateZ(-100px) scale(2);
    z-index: -2;
}

.header-container {
    position: relative;

    width: 100%;
    height: 600px;

    background-image: url('bg.jpg');

    background-size: auto 100%;
    background-position: center;
}

.header-content {
    position: relative;

    width: 100%;
    height: 400px;

    background-color: rgba(101, 107, 137, 0.51);
}

.header-title {
    position: absolute;

    top: 20px;
    padding-left: 48px;
    /*left: 50px;*/

    font-size: 1.5em;
    font-family: 'Raleway-light', sans-serif;
    font-weight: 300;

    text-transform: uppercase;
    letter-spacing: 5px;

    color: #fff;
}

.header-message {
    position: absolute;

    /*left: 50px;*/
    bottom: 100px;
    padding-left: 48px;

    font-size: 2.0em;
    font-family: 'Raleway-exlight', sans-serif;
    font-weight: 100;

    /*text-transform: uppercase;*/
    letter-spacing: 3px;

    color: #fff;
}

.header-iphone {
    position: absolute;

    top: 200px;
    right: 270px;

    font-size: 1.0em;
    font-family: 'Raleway-med', sans-serif;
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: 4px;

    color: #fff;
    opacity: 0.75;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header-android {
    position: absolute;

    top: 270px;
    right: 100px;

    font-size: 1.0em;
    font-family: 'Raleway-med', sans-serif;
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: 4px;

    color: #fff;
    opacity: 0.75;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header-device-glow {
    position: absolute;

    /*top: 26px;*/
    /*right: 50px;*/

    /*font-size: 1.0em;*/
    /*font-family: 'Raleway-med', sans-serif;*/
    /*font-weight: 500;*/

    /*text-transform: uppercase;*/
    /*letter-spacing: 4px;*/

    color: #fff;
    opacity: 0.75;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header-contact {
    position: absolute;

    top: 26px;
    right: 50px;

    font-size: 1.0em;
    font-family: 'Raleway-med', sans-serif;
    font-weight: 500;

    text-transform: uppercase;
    letter-spacing: 4px;

    color: #fff;
    opacity: 0.75;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header-contact:hover {
    opacity: 1.0;
}

.header-device-glow:hover {
    opacity: 1.0;
}

.header-button-1:hover {
    color: #545454;
    background-color: #fff;
}

.header-button-2:hover {
    color: #545454;
    background-color: #fff;
}

/*.video-container {*/
    /*position:absolute;*/
    /*height:100%;*/
    /*width:100%;*/
    /*overflow: hidden;*/
/*}*/

/*.video-container video {*/
    /*min-width: 100%;*/
    /*min-height: 100%;*/
/*}*/

.item {
    position: absolute;
    width: 100%;

    background-color: #fff;
}

.item.jumpnow {
    background-color: rgba(88, 72, 82, 0.75);
    padding-bottom: 30px;
    height: 900px;
    padding-top: 30px;
}

.item.jumpnow h1 {
    color: rgb(255, 244, 251);
}

.item.jumpnow p {
    color: #d6d6d6;
}

.item.flapling {
    background-color: rgb(40, 126, 169);
    padding-bottom: 30px;
    height: 900px;
    padding-top: 30px;
}

.item.flapling h1 {
    color: rgb(255, 244, 251);
}

.item.flapling p {
    color: #d6d6d6;
}

.item.spubble {
    background-color: rgb(33, 178, 159);
    padding-bottom: 30px;
    height: 900px;
    padding-top: 30px;
}

.item.spubble h1 {
    color: rgb(255, 244, 251);
}

.item.spubble p {
    color: #d6d6d6;
}

.item.flaptronaut {
    background-color: rgba(42, 30, 46, 0.76);
    padding-bottom: 30px;
    height: 900px;
    padding-top: 30px;
}

.item.flaptronaut h1 {
    color: rgb(255, 244, 251);
}

.item.flaptronaut p {
    color: #d6d6d6;
}

.item-content {
    display: block;

    width: 700px;

    padding-top: 40px;
    padding-bottom: 62px;

    margin-left: auto;
    margin-right: auto;

    z-index: 100;
}

.item-content h1 {
    font-size: 2.25em;
    font-family: 'Raleway-exlight', sans-serif;
    font-weight: 200;

    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 40px;

    text-align: center;

    color: #474747;
}

.item-content h2 {
    font-size: 2.25em;
    font-family: 'Raleway-exlight', sans-serif;
    font-weight: 200;

    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 40px;

    text-align: center;

    color: #7c7c7c;
}

.item-content p {
    font-size: 1.5em;
    font-family: 'Raleway-light', sans-serif;
    font-weight: 300;

    text-transform: none;
    letter-spacing: 0px;

    text-align: center;

    margin-top: 14px;
    margin-bottom: 14px;

    color: #a2a2a2;
}

.item-button {
    position: relative;

    height: 42px;
    width: 140px;

    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;

    font-size: 1.25em;
    font-family: 'Raleway-reg', sans-serif;
    font-weight: 400;

    /*text-transform: uppercase;*/
    letter-spacing: 0px;
    line-height: 40px;

    text-align: center;

    color: rgba(45, 45, 45, 1.0);

    border: 1px solid rgba(45, 45, 45, 1.0);

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.item-button:hover {
    color: #fff;
    background-color: rgba(45, 45, 45, 1.0);
}


.item-button.light {
    color: #fff;
    border: 1px solid #fff;
}

.item-button.light:hover {
    color: #545454;
    background-color: #fff;
}

.footer {
    position: relative;
    width: 100%;
    height: 680px;

    background-color: rgba(25, 25, 25, 1.0);
}

.footer-content {
    display: block;

    width: 700px;

    padding-top: 128px;
    padding-bottom: 128px;

    margin-left: auto;
    margin-right: auto;
}

.footer-content h1 {
    font-size: 2.25em;
    font-family: 'Raleway-exlight', sans-serif;
    font-weight: 200;

    text-transform: uppercase;
    letter-spacing: 0px;
    line-height: 40px;

    text-align: center;

    color: #c8c8c8;
}

.footer-content p {
    color: #787878;
    text-align: center;

}

.footer-button {
    position: relative;

    height: 42px;
    width: 140px;

    margin-top: 20px;

    margin-left: auto;
    margin-right: auto;

    font-size: 1.25em;
    font-family: 'Raleway-reg', sans-serif;
    font-weight: 400;

    /*text-transform: lowercase;*/
    letter-spacing: 0px;
    line-height: 40px;

    text-align: center;

    color: #999;

    border: 1px solid #999;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.footer-button:hover {
    color: #545454;

    background-color: #fff;
    border: 1px solid #fff;
}

.primary {
    color: #474747;
}

.secondary {
    color: #7c7c7c;
}

.primary.jumpnow {
    color: #ffffff;
}

.secondary.jumpnow {
    color: #cacaca;
}

.header-content {
    position: relative;

    width: 100%;
    height: 700px;

    background-color: rgba(32, 27, 47, 0.75);
}

.header-button-1 {
    position: absolute;

    left: 50px;
    bottom: 40px;

    height: 42px;
    width: 140px;

    font-size: 1.25em;
    font-family: 'Raleway-reg', sans-serif;
    font-weight: 400;

    /*text-transform: lowercase;*/
    letter-spacing: 0px;
    line-height: 40px;

    text-align: center;

    color: #fff;

    border: 1px solid #fff;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.header-button-2 {
    position: absolute;

    left: 50px;
    bottom: 40px;

    height: 42px;
    width: 140px;

    font-size: 1.25em;
    font-family: 'Raleway-reg', sans-serif;
    font-weight: 400;

    /*text-transform: lowercase;*/
    letter-spacing: 0px;
    line-height: 40px;

    text-align: center;

    color: #fff;

    border: 1px solid #fff;

    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

@media (min-width: 1100px) {
    .header-title {
        font-size: 1.7em;
    }

    .header-message {
        font-size: 3em;
    }

    .item-content {
        width: 900px;
    }

    .item-content h1 {
        font-size: 2.6em;
    }

    .item-content p {
        font-size: 1.6em;
    }
}

@media (max-width: 1099px) {
    .header-message {
        font-size: 2.5em;
    }
}

@media (max-width: 991px) {

    .header-button-2 {
        bottom: 27px;
    }

    .header-button-1 {
        bottom: 90px;
    }

    .header-message {
        bottom: 150px;
    }
}

@media (max-width: 900px) {

    .header-message {
        font-size: 2em;
        bottom: 150px;
    }
}

@media (max-width: 800px) {
    .header-container {
        height: 500px;
    }

    /*.header-content {*/
        /*height: 500px;*/
    /*}*/

    .component {
        height: 600px;
    }

    .header-title {
        top: 20px;
        /*left: 20px;*/
    }

    .header-contact {
        right: 20px;
    }

    .header-message {
        font-size: 2em;
        /*letter-spacing: 0px;*/

        /*left: 20px;*/
        bottom: 150px;
    }

    .header-button {
        /*left: 20px;*/
        bottom: 30px;
    }

    .item-content {
        width: calc(100% - 40px);

        padding-top: 48px;
        padding-bottom: 48px;
    }

    .item-content h1 {
        font-size: 1.75em;
    }

    .item-content p {
        margin-top: 7px;
        font-size: 1.4em;
    }

    .item-button {
        margin-top: 22px;
    }

    .footer-content {
        width: calc(100% - 40px);

        padding-top: 72px;
        padding-bottom: 72px;
    }

    .footer-content h1 {
        font-size: 1.75em;
    }

    .footer-content p {
        margin-top: 7px;
        font-size: 1.4em;
    }

    .footer-button {
        margin-top: 22px;
    }
}

@media (max-width: 415px) {
    .header-contact {
        display: none;
    }
    .header-message {
        /*left: 20px;*/
        font-size: 1.5em;
    }
}

@media (max-width: 320px) {
    .header-title {
        left: 20px;
    }

    .header-message {
        /*left: 20px;*/
        font-size: 1.5em;
    }

    .header-button {
        left: 20px;
    }

    .header-contact {
        display: none;
    }
}

/* Font Resources */

/*@font-face {*/
    /*font-family:"Raleway-thin";*/
    /*src: url("font-thin.ttf");*/
/*}*/

/*@font-face {*/
    /*font-family:"Raleway-exlight";*/
    /*src: url("font-exlight.ttf");*/
/*}*/

/*@font-face {*/
    /*font-family:"Raleway-light";*/
    /*src: url("font-light.ttf");*/
/*}*/

/*@font-face {*/
    /*font-family:"Raleway-reg";*/
    /*src: url("font-reg.ttf");*/
/*}*/

/*@font-face {*/
    /*font-family:"Raleway-med";*/
    /*src: url("font-med.ttf");*/
/*}*/